<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %>

<h1 id='edit-title-text'>Edit Entry</h1>
<div>
    <img src="https://images.squarespace-cdn.com/content/v1/57aa372a6b8f5b07c0dd3adc/1470878162889-HZGDXT9O54Y3WBYXZHCI/ke17ZwdGBToddI8pDm48kG4VaGK2BDoypcV72v3WXxkUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcQ7p8169p8qxgXVKEB23rQXgFGdd18FgKgV2HQBaPNGG3yBSUmSgz7kzVX4TWod5R/bannerbackground-Invert.jpg?format=1500w" class='edit-image'>
<div id='edit-description'>
<form id='account-text' action="/cryptids/<%=cryptid.id%>?_method=PUT" method="POST">
    Name: <input class='edit-text' id='account-text' type="text" name = 'name' value="<%=cryptid.name%>" /><br/>
    Image: <input  class='edit-text' id='account-text' type="url" name = 'img' value="<%=cryptid.img%>" /><br/>
    Description: <input id='account-text' type="text" value="<%=cryptid.description%>" name="description"><br/>
    Aggressive Temperament:
    <input class='edit-text' type="checkbox" value="<%=cryptid.temperament%>" name="temperament"
        <% if(cryptid.temperament === true){ %>
            checked
        <% } %>
    />
    <br/>
    <a href="/cyptids/<%=cryptid.id%>"><input id='account-text'type="submit" name="" value="Submit Changes"/></a>
</form>
<form action="/cryptids/<%=cryptid.id%>?_method=DELETE" method="POST">
    <a  href="/cyptids/"><input id='account-text' type="submit" name="" value="Delete"/></a>
</form>
</div>
</div>
<%- include('../partials/footer.ejs') %>
