<%- include('../partials/header.ejs') %> 
<%- include('../partials/nav.ejs') %>

<h1 style="font-family: 'Creepster', cursive; text-align: center; font-size: 50px;"><%=cryptid.name; %></h1>
<img class="cryptid-image" src="<%=cryptid.img; %>">
<div class='description'>
<h3 style="font-family: 'Special Elite', cursive; background-color: grey; width: fit-content; text-align:justify; padding: 1px;">Description:</h3>
<p style="font-family: 'Special Elite', cursive;"><%=cryptid.description; %></p>
<h3 style="font-family: 'Special Elite', cursive;">Temperament:</h3>
<p style="font-family: 'Special Elite', cursive;">
<% if(cryptid.temperament === true){ %>
    <%=cryptid.name; %> is reported to be aggressive.
<% } else { %>
    <%=cryptid.name; %> has not been noticed to be aggressive.
<% } %>
</p>
<button class='edit'><a style="text-decoration: none; color: whitesmoke; padding: 3px 3px 3px 3px" href="<%=cryptid.media; %>">Media</a></button>
<button class='edit'><a style="text-decoration: none; color: whitesmoke" href="/cryptids/<%=cryptid.id; %>/edit">Edit</a></button>
</div>

<%- include('../partials/footer.ejs') %>